
1) TransactionController - Когда во вкладке персонализация появиться счет по умолчанию, присвоить не значение 1 а AccountId по умолчанию (узнать почему присваивается счет во вьюшке - random)

2)

3) TransactionView - Сделать автообновление поиска по операциям, чтобы при кнопке применить не перезагружалась страница (НЕЛЕГКО)

4) AccountView - Добавить между надписью мои счета и кнопкой добавить счет список в котором будет диапазон дат (текущий день, месяц, год или период) для корректного отображения трат (MoneyTracking)

5) AccountView - Когда во вкладке персонализация появиться диапасон дат по умолчанию, присваивать значение по умолчанию списку чтобы отображалось в MoneyTracking

6) UserController - Сделать метод для кнопки FinLit.By чтобы выходить из акканта, и после выходе невозможно было перейти по вкладкам (убрать Layout -> быстрое решение), но лучше чситить куки и сессии (до этого не удалось)

7) 

8) AddTransaction - Убрать возможность писать точку, или конвертировать ее в запятую так как возникает ошибка (везде где вводиться сумма) (НЕЛЕГКО)

9) ReportView - Отображать прогнозы включая последний 3 месяца на графике (НЕЛЕГКО)

10) ReportView - при нажатии на кнопку доходы расходы или прогнозы, чтобы кнопка выделялась если я на текущей странице

11) ReportView - Добавить к оси Y поле валюты из текущего счета

12) ReportView - Добавить наименование текущего счета по которому ведется прогнозы, расходы и доходы

13) ReportView - При на ведеии на точку графика чтобы отображалась полная дата и была сумма вместе с валютой счета

14) RecurringTransactionService - Доделать метод добавления для разгрузки системы путем вызова при добавлении для обновления delay поля

15)

16) AllView - Верхний заголовок сбивается на вкладке операции и далее, узнать почему и устранить

17) CalendarView - Изменить немного стиль отображения календаря, только синиий зеленый и красные цвета без желтого (НЕЛЕГКО)

18)

19) 

20)

21) CategoryView - Сделать в карточке отображения(картинки) категорий, задать список на выбор пользователя

22)

23)

24) SettingsController - при выборе тем светлая или темная менять цвет приложения на темный или светлый, ессли чтоит вкладка по умолачнию - то это светлый

25) SettingsController - При отправке уведомлений проверять стоит ли у пользователя желание отправлять уведомлений да или нет, в зависимости от этого и отпралвять уведомления во вкладке Уведомления

	26) AccountView - Добавить кнопки редактирования и удаления счета (Также удалять все транзакции данного счета и все поля которые связаны каскадно (комменты теги вложения)) и менять выбранный аккаунт на следующий который есть

27)

28)

29) ReportView - в доходах и расходах сделать рядом с процентажем по категориям суммы трат или доходов а также брать текущий месяц а не общее как сейчас

30) 

31) ReportView - добавить логику для отображения по (дням месяцам или годам) в отчетах

	32) СalendarView - Добавить кнопку (настройки) которая будет переносить нас в меню где мы можем посмотреть список запланированных трат и удадить их или редактировать также изменить все в SettingsView

33)

34)

35) AllView - изменить цветовую гамму в интерфейсе подумать какюу хочу и проработь изменения темной и светлой темы 

36)

37) TransactionView - Выводить по кнопкам тег, коммент и вложение у списка операций

38) UserSettingsContoller - При сохранении одной из настроек тема или уведомления, второе поле заполняеться null метод 1 на двоих, так как при нажатии сохранить форма заполняется не полностью данные становяться утраченными после обнолвения таблицы

	39) FinancialGoalAccountView - Добавить кнопки редактирования и удаления счета + при добавлении суммы запретить вводить отрицательное число

40) EditTransactionView - Отображение категорий не отсортировано и для категорий другое (нужно понимать расход или доход)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

																			ВСЕГО - 40 СДЕЛАНО - 14 ОСТАЛОСЬ - 26